.banner2 {
	align-items: 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
}
#chiwetel{

	height: 500px;
	margin-left: 0px;
	margin-top: 0px;
	margin: center;

}
